html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    padding: 0;
    width: 100%;
}

body {
    background-color: $site-background;
    display: flex;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

p {
    margin: 0;
}
