$icon-size: 20px;
$icon-size-tiny: 12px;

.icon {
    background: $secondary-text;
    display: block;
    height: $icon-size;
    width: $icon-size;

    &--tiny {
        height: $icon-size-tiny;
        width: $icon-size-tiny;
    }

    &--large {
        height: $logo-size;
        width: $logo-size;
    }
}
