$me-padding: 50px;

.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $me-padding 0;
    position: relative;

    &__photo {
        left: 7px;
        position: absolute;
        top: 7px;
    }
}
