.profile {


  &__photos {
    position: relative;
    padding: 30px;
    display: flex;
    align-items: center;
  }

  &__photo {
    left: 5px;
    position: absolute;
    top: 5px;
  }

  &__add-photo {
      background: $secondary-background;
      border-radius: 50%;
      width: $photo-circle-size;
      height: $photo-circle-size;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: $padding;
  }

}
