.skill {
  background: $secondary-background;
  padding: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: 420px;

  &__stars {
    display: flex;
  }

  &__star {
    margin-left: 5px;
  }
}
