.table {

    background-color: $contrast-background;
    border-collapse: collapse;
    color: $main;
    text-align: left;
    width: 100%;

    &__header {

        &-content {
            align-items: center;
            display: flex;
        }

        &-actions {
            display: flex;
            flex-direction: column;
        }

        &-action {
            margin-left: $table-cell-spacing;
        }

        &-cell {
            border-bottom: 1px solid $border;
            font-weight: normal;
            padding: 16px $table-cell-spacing / 2;
            width: $table-cell-width;

            &--first {
                padding-left: $table-cell-spacing;
            }

            &--last {
                padding-right: $table-cell-spacing;
            }

            &--short {
                width: $table-cell-width-short;
            }
        }

    }

    &__cell {
        line-height: 1.5;
        padding: 12px $table-cell-spacing / 2;
        vertical-align: middle;

        &--first {
            padding-left: $table-cell-spacing;
        }

        &--last {
            padding-right: $table-cell-spacing;
        }
    }

    &__row {
        &:nth-child(even) {
            background-color: $secondary-background;
        }
    }

    &__content {
        align-items: center;
        display: flex;

        &--actions {
            justify-content: space-between;
        }
    }

    &__photo {
        margin-right: $table-cell-spacing;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        width: 2 * $icon-size + $table-cell-spacing;
    }

}
