// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

// MAIN COLOR PALETTE
$selago: #f3f7fd;
$white: #fff;
$regent-gray: #8995a4;
$mystic: #e1e6ee;
$dodgerblue: #404dfa;
$shark: #1d1e1f;
$persian-green: #00b488;
$white-ice: #e5faf6;
$athens-gray: #f9f9fb;

// COMMON COLORS
$site-background: $selago;
$contrast-background: $white;
$secondary-text: $regent-gray;
$border: $mystic;
$active: $dodgerblue;
$main: $shark;
$secondary-background: $athens-gray;
