$padding: 15px;
$me-photo-size: 64px;
$me-circle-thickness: 10px;
$progress-circle-thickness: 3px;
$progress-circle-size: $progress-circle-thickness + $me-circle-thickness + $me-photo-size;

$base-line-height: 1;
$base-font-size: 14px;
$base-font-family: Arial, Helvetica, sans-serif;

$text-tiny: 12px;


$photo-size: 36px;
$table-cell-spacing: 20px;
$icon-size: 20px;
$table-cell-width: 27%;
$table-cell-width-short: 50 - $table-cell-width;

$thick: 3px;
