$me-padding: 50px;

.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $me-padding 0;

    &__circle {
        height: $progress-circle-size;
        position: relative;
        width: $progress-circle-size;
    }

}
