<header class="header">
  <div class="searchbar">
    <div class="icon"></div>
    <input type="text" class="searchbar__input" placeholder="Search by a keyword..." />
  </div>
  <div class="header__nav">
    <a href="" class="header__notification-nav"><div class="icon"></div></a>
    <a href="" class="header__profile-nav">
      <img src="https://via.placeholder.com/30x30" class="photo header__profile-photo" />
      <div class="header__profile-name">Carolyn Simpson</div>
      <div class="icon"></div>
    </a>
  </div>
</header>
