$sidebar-width: 220px;

.sidebar {

  background: $contrast-background;
  display: flex;
  height: 100%;
  padding: $padding;
  width: $sidebar-width;
  color: $secondary;
  flex-direction: column;
  justify-content: space-between;

  &__copyright {
    font-size: $text-tiny;
    text-align: center;
    width: 100%;
  }

}
