<div class="sidebar">
  <div class="sidebar__info">
    <%include src="../logo/logo.html" %>
    <%include src="../me/me.html" %>
  </div>
  <nav>
    <ul class="sidebar__nav">
      <li>
        <a href="" class="sidebar__nav-link sidebar__nav-link_active">My profile</a>
      </li>
      <li>
        <a href="" class="sidebar__nav-link">Find a mentor</a>
      </li>
      <li>
        <a href="" class="sidebar__nav-link">Help</a>
      </li>
    </ul>
  </nav>
  <p class="sidebar__copyright">&copy; 2019 Devbridge</p>
</div>
