<table class="table">
  <thead>
    <th class="table__header-cell">Name</th>
    <th class="table__header-cell">Specialist at</th>
    <th class="table__header-cell">Wants to learn</th>
    <th class="table__header-cell">Location</th>
    <th class="table__header-cell"></th>
  </thead>
  <tbody>
    <tr class="table__row">
      <td class="table__cell">Dominik Doudny</td>
      <td class="table__cell">React.js, Vue.js, JavaScript, HMTL & CSS, BEM methodology</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell">Vilnius</td>
      <td class="table__cell">actions</td>
    </tr>
    <tr class="table__row">
      <td class="table__cell">Dominik Doudny</td>
      <td class="table__cell">React.js, Vue.js, JavaScript, HMTL & CSS, BEM methodology</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell">Vilnius</td>
      <td class="table__cell">actions</td>
    </tr>
    <tr class="table__row">
      <td class="table__cell">Dominik Doudny</td>
      <td class="table__cell">React.js, Vue.js, JavaScript, HMTL & CSS, BEM methodology</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell">Vilnius</td>
      <td class="table__cell">actions</td>
    </tr>
    <tr class="table__row">
      <td class="table__cell">Dominik Doudny</td>
      <td class="table__cell">React.js, Vue.js, JavaScript, HMTL & CSS, BEM methodology</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell">Vilnius</td>
      <td class="table__cell">actions</td>
    </tr>
  </tbody>
</table>
