<thead>
  <th class="table__header-cell table__header-cell--small table__header-cell--short table__header-cell--first">
    <div class="table__header-content">
      Name
      <a href="" class="table__header-action"><div class="icon"></div></a>
    </div>
  </th>
  <th class="table__header-cell table__header-cell--small ">
    <div class="table__header-content">
      Specialist at<a href="" class="table__header-action"><div class="icon"></div></a>
    </div>
  </th>
  <th class="table__header-cell table__header-cell--small ">
    <div class="table__header-content">
      Wants to learn<a href="" class="table__header-action"><div class="icon"></div></a>
    </div>
  </th>
  <th class="table__header-cell table__header-cell--small table__header-cell--short table__header-cell--last">
    <div class="table__header-content">
      Location<a href="" class="table__header-action"><div class="icon"></div></a>
    </div>
  </th>
</thead>
