<table class="table">
  <thead>
    <th class="table__header-cell table__header-cell_short table__header-cell_first">Name</th>
    <th class="table__header-cell">Specialist at</th>
    <th class="table__header-cell">Wants to learn</th>
    <th class="table__header-cell table__header-cell_short table__header-cell_last">Location</th>
  </thead>
  <tbody>
    <tr class="table__row">
      <td class="table__cell table__cell_first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell table__cell_last">
        <div class="table__content table__content_actions">
          Vilnius
          <div class="table__actions">
            <div class="icon"></div>
            <div class="icon"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__cell table__cell_first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell table__cell_last">
        <div class="table__content table__content_actions">
          Vilnius
          <div class="table__actions">
            <div class="icon"></div>
            <div class="icon"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__cell table__cell_first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell table__cell_last">
        <div class="table__content table__content_actions">
          Vilnius
          <div class="table__actions">
            <div class="icon"></div>
            <div class="icon"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__cell table__cell_first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell table__cell_last">
        <div class="table__content table__content_actions">
          Vilnius
          <div class="table__actions">
            <div class="icon"></div>
            <div class="icon"></div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
