<table class="table">
  <thead>
    <th class="table__header-cell table__header-cell--short table__header-cell--first">
      <div class="table__header-content">
        Name
        <a href="" class="table__header-action"><div class="icon"></div></a>
      </div>
    </th>
    <th class="table__header-cell">
      <div class="table__header-content">
        Specialist at<a href="" class="table__header-action"><div class="icon"></div></a>
      </div>
    </th>
    <th class="table__header-cell">
      <div class="table__header-content">
        Wants to learn<a href="" class="table__header-action"><div class="icon"></div></a>
      </div>
    </th>
    <th class="table__header-cell table__header-cell--short table__header-cell--last">
      <div class="table__header-content">
        Location<a href="" class="table__header-action"><div class="icon"></div></a>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="table__row">
      <td class="table__cell table__cell--first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell  table__cell--last">
        <div class="table__content table__content--actions">
          Vilnius
          <div class="table__actions">
            <a href="">
              <div class="icon"></div>
            </a>
            <a href="">
              <div class="icon"></div>
            </a>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__cell table__cell--first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell  table__cell--last">
        <div class="table__content table__content--actions">
          Vilnius
          <div class="table__actions">
            <a href="">
              <div class="icon"></div>
            </a>
            <a href="">
              <div class="icon"></div>
            </a>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__cell table__cell--first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell table__cell--last">
        <div class="table__content table__content--actions">
          Vilnius
          <div class="table__actions">
            <a href="">
              <div class="icon"></div>
            </a>
            <a href="">
              <div class="icon"></div>
            </a>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__cell table__cell--first">
        <div class="table__content">
          <img src="https://via.placeholder.com/36x36" class="photo table__photo" />
          Dominik Doudny
        </div>
      </td>
      <td class="table__cell">JAVA 8, Spring Boot, Hibernate, Flyway, Liquibase, MyBatis ORM</td>
      <td class="table__cell">React Native</td>
      <td class="table__cell  table__cell--last">
        <div class="table__content table__content--actions">
          Vilnius
          <div class="table__actions">
            <a href="">
              <div class="icon"></div>
            </a>
            <a href="">
              <div class="icon"></div>
            </a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
