<nav>
  <ul class="nav">
    <li>
      <a href="" class="nav-link">
        <div class="icon nav-link__icon"></div>
        My profile
      </a>
    </li>
    <li>
      <a href="" class="nav-link">
        <div class="icon nav-link__icon"></div>
        Find a mentor
      </a>
    </li>
    <li>
      <a href="" class="nav-link nav-link_active">
        <div class="icon nav-link__icon"></div>
        Administration
      </a>
    </li>
    <li>
      <a href="" class="nav-link">
        <div class="icon nav-link__icon"></div>
        Help
      </a>
    </li>
  </ul>
</nav>
